{% extends "base.html" %}

{% block content %}
{% load static %}

<div class="container-fluid mt-5">
    <div class="row">
        <div class="col-md-2 mb-3">
            <a href="/projects/newproject" class="btn w-100 text-decoration-none text-reset">
                <div class="card w-100">
                    <div class="card-body">
                        <img class="card-img-top mb-2" src="{% static 'create_project.svg' %}" alt="New Project">
                        <h4 class="card-title">New Project</h4>
                    </div>
                </div>
            </a>
        </div>

        {% for project in projects %}
        <div class="col-md-2 mb-3">
            <form action="" method="get" class="text-decoration-none text-reset w-100">
                <input type="hidden" name="project_name" value="{{ project.name }}">
                <button type="submit" class="btn w-100">
                    <div class="card w-100">
                        <div class="card-body text-center">
                            <img class="card-img-top mb-2" src="{% static 'analysis.svg' %}" alt="Analysis">
                            <h4 class="card-title text-truncate">{{ project.name }}</h4>
                        </div>
                    </div>
                </button>
            </form>
        </div>
        {% endfor %}
    </div>
</div>

{% endblock content %}