<!DOCTYPE html>

{% load static %}

<html lang="en-US">

<head>
  <title>Datanalytics</title>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="{% static 'css/bootstrap.min.css' %}">
  <link rel="stylesheet" href="{% static 'css/base.css' %}">
</head>

<body>
  <nav class="navbar navbar-expand border-bottom border-dark border-1">
    <div class="container-fluid">
      <a id="logo" class="nav-brand text-decoration-none text-body fw-bold" href="/">Datanalytics</a>
      <ul class="navbar-nav ms-auto">
        <li class="navigation-item">
          <a class="nav-link" href="/">Home</a>
        </li>
        <li class="navigation-item">
          <a class="nav-link" href="/projects">Projects</a>
        </li>
        <li class="navigation-item">
          <a class="nav-link" href="/aboutus">About us</a>
        </li>
        <li class="navigation-item">
          <a class="nav-link" href="/users/profile">Profile</a>
        </li>
      </ul>
    </div>
  </nav>

  {% block content %}{% endblock content %}

  </div>
</body>

</html>