{% extends "base.html" %}

{% block content %}
{% load static %}

<div class="container-fluid mt-5">
    <h1 class="fw-bold mb-5">Welcome to Datanalytics</h1>

    <section class="row justify-content-center mb-5">
        <div class="col-md-8">
            <div class="card">
                <div class="card-body">
                    <img class="card-img-top mb-3" src="{% static 'create_project.svg' %}" alt="Create a New Project">
                    <h3 class="card-title mb-3">Create a New Project</h3>
                    <p class="card-text mb-4">Start a new data analytics project with our intuitive interface</p>
                    <a class="card-link green-button btn btn-success mb-3" href="/projects/newproject">New Project</a>
                </div>
            </div>
        </div>
    </section>
</div>
{% endblock content %}