{% load widget_tweaks %}
        <div class="mb-3">
          {{ form.t1df.label_tag }}
          {% render_field form.t1df class="form-select" %}
        </div>

        <div class="mb-3">
          {{ form.t2df.label_tag }}
          {% render_field form.t2df class="form-select" %}
        </div>

        <div class="mb-3">
          {{ form.t3df.label_tag }}
          {% render_field form.t3df class="form-select" %}
        </div>
         <div class="mb-3">
          {{ form.periods_to_exclude.label_tag }}
          <div class="multi-select-container">

            {% for checkbox in form.periods_to_exclude %}
            <div class="form-check">
              {{ checkbox }}
            </div>
            {% endfor %}
          </div>

        </div>